.todoItem {
  color: black;
  display: flex;
  align-items: center;
  width: 80%;
  background-color: transparent;
  margin: 6px 4px;
  border-radius: 12px;
  height: 40px;

  text-align: left;
  
}

.todoItem > p {
  flex: 1;
}

.todoItem--done {
  text-decoration: line-through;
}

button{
  padding-bottom: 3px;
  padding-top: 3px;
}


